*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background: #000000;
}
header{
    padding: 20px 70px;
    background: #000000;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 90px;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a{
    color: #999999;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}
.navigation ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.navigation .check{
    color: #fff;
    border-bottom: 1px solid #fff;
}

/*Main*/
.conteudo {
    border-top: 0.4px solid #ffffff;
}
main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}
.main-text {
    color: #ffffff;
}
.main-text img{
    width: 15rem;
    margin-bottom: 3vh;
}
.main-text h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.main-text p{
    margin-bottom: 1.5rem;
    color: #ffffff;
}
.main-text h6{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.main-text .btn{
    padding: 10px 25px;
    background: #f30000;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.main-text .btn:hover{
    opacity: .5;
}

.main-img img{
    width: 500px;
    transform: rotate(-15deg);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    clip-path: circle(800px at right 1000px);
}


